
@{
    Layout = null;
}

<footer id="footer" class="mainfooter mt-5" role="contentinfo">
    <div class="text-center">
        <div class="container py-4 col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <h5><a href="#"><u>Patients &amp; Visitors</u></a></h5>
                    <ul class="list-unstyled">
                        <li><a href="#">General &amp; Visitor Info</a></li>
                        <li><a href="#">Programs &amp; Services</a></li>
                        <li><a href="#">Emergency Department</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5><a href="#"><u>About Us</u></a></h5>
                    <ul class="list-unstyled">
                        <li><a href="#">History and Profile</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Quality &amp; Patient Safety</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5><a href="#"><u>Careers</u></a></h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Career Opportunities</a></li>
                        <li><a href="#">Volunteer Opportunities</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5><a href="#"><u>Foundation</u></a></h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Donations</a></li>
                        <li><a href="#">About the Foundation</a></li>
                        <li><a href="#">Contact Foundation</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5><a href="#"><u>Contact Us</u></a></h5>
                    <ul class="list-unstyled">
                        <li><a href="#">General Inquiry Online Form</a></li>
                        <li><a href="#">Survey</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul class="list-unstyled">
            <li align="center" class="ml-3 pb-2 text-warning">*Please note that this website is a part of the student projects and not a real hospital website.</li>
        </ul>
    </div>
    <div class="container pb-2 ml-5 col-md-12">
        <div class="row">
            <div class="col-md-3"><a href="@Url.Action("Login", "Account")">Admin Login</a></div>
            <div class="d-inline-block col-md-4">
                <p class="text-xs-center" style="margin:0px;">&copy; @DateTime.Now.Year - Humber and District Hospital</p>
            </div>
            <div class="col-md-5" style="padding:0px;margin:0px;"><a href="#" style="margin:15px;">By Laws</a><a href="#" style="margin:15px 15px 15px 15px;">Terms of Use</a><a href="#">Financial Accountability</a></div>
        </div>
    </div>
</footer>
