@model kdh.Models.DonationContact
@{
    ViewBag.Title = "Confirmtion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mb-4">Donation Confirmation</h2>
@*<div class="font-weight-bold text-center text-success" style="font-size:1.5rem;">Donation is confirmed.</div>*@
<div class="mt-4 font-weight-bold text-center text-success" style="font-size:1.5rem;"> Thank you for contributing to Humber and District Hospital.</div>

