@model kdh.Models.DonationContact
@{
    ViewBag.Title = "Confirmtion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Donation Confirmation</h2>
<div>Donation is confirmed.</div>
<div> Thank you for contributing to Humber and District Hospital.</div>

