
@{
    ViewBag.Title = "Registration Completed";
}

<h2>Registration Completed</h2>
<div>
    <p>Thank you. Your account has been created.</p>
    <span class="mr-2">@Html.ActionLink("Login to Patient Portal", "Login", "Account")</span>
</div>
