
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_LayoutNoSideBar.cshtml";
}

<h2>Unauthorized Access</h2>
<p class="h5 m-4">You need to login to access this page.</p>
<div class="my-5 py-5"></div>
