
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/PatientPortal.cshtml";
}

@model kdh.Models.Patient


@{
    ViewBag.Title = "Index";
}

<h2>Patient Portal Top</h2>

<div>
    Welcom, @Model.FirstName @Model.LastName
</div>



